.create-report-btn {
  &__box {
    z-index: 2;
    background-color: skyblue;
    border-radius: 10px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    &--text {
      font-size: 22px;
      color: #fff;
    }
  }
}