.new-report-wrapper {
  padding: 10px;
  background-color: rgb(100, 237, 162);;
}

.new-report-main {
  padding: 10px;
  background-color: #eee;
  &__container {
    &__box {
      margin: 10px;
      padding: 10px;
      background-color: #fff;
      display: flex;
      &__left {
        width: 75%;
        height: 300px;
        &__date {
          border: 1px solid black;
          width: 300px;
          height: 50px;
          line-height: 30px;
          padding: 6px;
          text-align: center;
          display: flex;
          &__year, &__month, &__day {
            display: flex;
            span {
              margin: 0 5px;
              font-size: 20px;
            }
          }

        }
        &__unit {
          display: flex;
          border: 1px solid black;
          padding: 5px;
          height: 50px;
          line-height: 40px;
          &__name {

          }
          &__text {
            font-size: 20px;
            height: 60px;
            .unit {
              width: 800px;
              height: 40px;
            }
          }
        }
        &__homework-rate {
          display: flex;
          border: 1px solid black;
          padding: 3px;
        }
        &__content {
          border: 1px solid black;
          padding: 3px;
          &__name {
            font-size: 12px;
          }
          &__text {
            padding-top: 5px;
            font-size: 14px;
            height: 150px;
            .content {
              width: 1000px;
              height: 150px;
              padding: 5px;
            }
          }
        }
      }
      &__right {
        width: 20%;
        height: 300px;
        &__homework {
          border: 1px solid black;
          height: 300px;
          &__name {

          }
          &__text {
            .homework {
              padding: 10px;
              font-size: 12px;
              line-height: 30px;
              height: 250px;
              width: 250px;
            }
          }


        }
      }
    }
  }
}
