.header {
  height: 150px;
  &__logo {
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  &__bottom {
    height: 50px;
    display: flex;
    padding: 10px 0 10px;
    background-color: rgb(6, 6, 116);
    color: #fff;
    font-size: 20px;
    &__user {
      width: 33%;
      text-align: center;
      .icon {
        color: #fff;
      }
    }
    &__student {
      width: 33%;
      text-align: center;
      a {
        color: #fff;
      }
    }
    &__logout {
      width: 33%;
      text-align: center;
      a {
        color: #fff;
      }
    }
    
  }
}