.mypage-main {
  background-image: image-url("star.jpg");
  background-size: cover;
  padding:  0 30px 10px;
  &__school {
    padding-top: 30px;;
    min-height: 50px;
    border-bottom: 2px solid #ddd;
    min-height: 200px;
    .mypage-main-school-name {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      width: 500px;
      margin: 0 auto;
      background-color: coral;
    }
    .student-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      &__box {
        padding: 10px;
        width: 200px;
        height: 100px;
        margin: 0 15px 20px;
        border-radius: 3px;
        text-align: center;
        .student-box__name {
          font-weight: 600;
        }
        .student-box__school {
          display: flex;
          justify-content: center;
          &__grade {
            margin-right: 10px;
          }
        }
        .student-edit-delete {
          margin-top: 5px;
          .icon {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.myself {
  background-color: rgb(243, 243, 85);
}

.elementary-school {
  background-color: pink;
}

.junior-high-school {
  background-color: powderblue;
}

.high-school {
  background-color: rgb(109, 230, 184);
}