@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "mixin/mixins";

@import "devise/registration/new";
@import "devise/session/new";

@import "layout/notification";

@import "mypage/header";
@import "mypage/footer";
@import "mypage/index";

@import "report/create-report-btn";
@import "report/index";
@import "report/new";

@import "shared/header-simple";
@import "shared/second-header";

@import "student/new";



* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}